<!DOCTYPE html>
<html ng-app="blog">
<head>
<link rel="icon" type="image/png" href="public/img/logo.png" />
<link rel="stylesheet" type="text/css" href="public/css/style.css">
<link rel="stylesheet" type="text/css"
  href="public/css/material.min.css">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script type="text/javascript"
  src="public/js/librairies/jquery-ui.min.js"></script>
<script type="text/javascript" src="public/js/librairies/angular.min.js"></script>
<script type="text/javascript"
  src="public/js/librairies/material.min.js"></script>
</head>
<body>
  <div class="demo-layout-transparent mdl-layout mdl-js-layout"
    ng-controller="blogCtrl">
    <!-- NAVBAR HEADER -->
    <header class="mdl-layout__header mdl-layout__header--transparent">
      <div class="mdl-layout__header-row">
        <!-- Title-->
        <h3 class="mdl-layout-title">Pengu Blog !</h3>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link nav" ng-show="invite" href="" ng-click="login()"><img
            src="public/img/icon/account.png"/>Log in</a>
            <a class="mdl-navigation__link nav" ng-show="invite" href="" ng-click="signup()"><img
            src="public/img/icon/account-plus.png"/>Sign up</a>
            <a class="mdl-navigation__link nav" ng-show="userConnected" href="" ng-click="signout()"><img
            src="public/img/icon/account-minus.png"/>Sign out</a>
        </nav>
    </header>



    <!-- NAVBAR LEFT -->
    <div id="navBarLeft" class="mdl-layout__drawer">
      <h6 id="userPseudo" class="mdl-layout-title pseudo">
        Pengu name <img src="public/img/logo.png" class="iconPseudo" ng-show="true"></img>
      </h6>
      <span class="msgError" ng-show="invite"><img src="public/img/icon/alert.png"></img>You have to connect to see all functionnalities.</span>
      <nav class="mdl-navigation" ng-show="userConnected">
        <a class="mdl-navigation__link" href="" ng-click="myAccount()"><img
          src="public/img/icon/account-star-variant.png" class="icon"></img>My
          account</a> <a class="mdl-navigation__link" href="" ng-click="addAnArticle()"><img
          src="public/img/icon/comment-text-outline.png" class="icon">Add
          an article</a>  
          <!--a class="mdl-navigation__link" href=""><img
          src="public/img/icon/calendar.png" class="icon">Year {{year}}</a>
        <a class="mdl-navigation__link list" href=""><img
          src="public/img/icon/chevron-right.png" class="icon">Month
          {{month}}</a-->
      </nav>
    </div>


    <!-- SINGLE PAGE APPLICATION -->
    <main class="mdl-layout__content">
    <h1 class="headerFooter">The best blog about Pengu !</h1>


    <!-- LOGIN DIALOG -->
    <div id="loginDialog" ng-show="showLogin" class="wrapperOutside">
      <div class="wrapperInside">
        <!-- Dialog -->
        <form novalidate class="simple-form">
          <div class="dialogContainer">
            <!-- Dialog title and body -->
            <div class="dialogContent">
              <div class="dialogContentTitle"><img
            src="public/img/icon/account (1).png"/> Log in</div>
              <div class="dialogContentBody">
                <input type="text" placeholder="Pseudo" class="formInputs" ng-model="user.pseudo"></input><br />
                <input type="password" class="formInputs" placeholder="Password"
                  ng-model="user.password"></input>
              </div>
            </div>
            <!-- Dialog action bar -->
            <div class="dialogActionBar">
              <!-- Buttons -->
              <a class="buttonTouchTarget" id="buttonOneTouchTarget" href=""
                ng-click="cancelLogin()">
                <div class="buttonFlat" id="cancelLogin" fit>CANCEL</div>
              </a>
              <!-- This comment removes 4px gap between buttons-->
              <a class="buttonTouchTarget" id="buttonTwoTouchTarget" href=""
                ng-click="submitLoginForm()">
                <div class="buttonFlat buttonCustom" id="submitLoginForm">SUBMIT</div>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>



    <!-- SIGN UP DIALOG -->
    <div id="signupDialog" ng-show="showSignup" class="wrapperOutside">
      <div class="wrapperInside">
        <!-- Dialog -->
        <form novalidate name="signupForm" class="simple-form">
          <div class="dialogContainer">
            <!-- Dialog title and body -->
            <div class="dialogContent">
            <div class="dialogContentTitle"><img
            src="public/img/icon/account-plus(1).png"/> Sign up</div>
            <div class="dialogContentBody">
                <span class="formLabels">Pseudo </span><input class="formInputs" type="text" placeholder="Pseudo"
                  ng-model="newUser.pseudo" required></input><br />
                <span class="formLabels">Lastname </span><input class="formInputs" type="text" placeholder="Lastname"
                  ng-model="newUser.lastname" required></input><br /><span class="formLabels">Firstname </span><input
                  class="formInputs" type="text" placeholder="Firstname"
                  ng-model="newUser.firstname" required></input> <br />
                <div class="form-group" ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$pristine }">
                  <span class="formLabels">Email</span>
                  <input type="email" name="email" class="form-control" placeholder="Email" ng-model="newUser.email" required>
                  <p ng-show="signupForm.email.$invalid && !signupForm.email.$pristine" class="help-block">Enter a valid email.</p>
                </div>
                <span class="formLabels">Password </span><input class="formInputs" type="password" placeholder="Password"
                  ng-model="newUser.password" required></input><br /> <span class="formLabels">Confirm password </span><input
                  class="formInputs" type="password"
                  placeholder="Confirm password"
                  ng-model="newUser.confirmPassword" required></input>
              </div>
            </div>
            <!-- Dialog action bar -->
            <div class="dialogActionBar">
              <!-- Buttons -->
              <a class="buttonTouchTarget" id="buttonOneTouchTarget" href=""
                ng-click="cancelSignup()">
                <div class="buttonFlat" id="cancelSignup" fit>CANCEL</div>
              </a>
              <!-- This comment removes 4px gap between buttons-->
              <a class="buttonTouchTarget" id="buttonTwoTouchTarget" href=""
                ng-click="submitSignupForm()" ng-disabled="signupForm.$invalid">
                <div class="buttonFlat buttonCustom" id="submitSignupForm">SUBMIT</div>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>



    <!-- MY ACCOUNT DIALOG class="iconMyAccount"-->
    <div id="myAccountDialog" ng-show="showAccount" class="wrapperOutside">
      <div class="wrapperInside">
        <!-- Dialog -->
        <form novalidate class="simple-form">
          <div class="dialogContainer">
            <!-- Dialog title and body -->
            <div class="dialogContent">
              <div class="dialogContentTitle"><img
          src="public/img/icon/account-star-variant.png" class="icon"></img> My account</div>
              <div class="dialogContentBody">
                <span class="formLabels">Pseudo </span><input class="formInputs" type="text" placeholder="Pseudo"
                  ng-model="user.pseudo" ng-disabled="true"></input><br />
                <span class="formLabels">Lastname </span><input class="formInputs" type="text" placeholder="Lastname"
                  ng-model="user.lastname" ng-disabled="editVar"></input><br /><span class="formLabels">Firstname </span><input
                  class="formInputs" type="text" placeholder="Firstname"
                  ng-model="user.firstname" ng-disabled="editVar"></input> <br />
                <span class="formLabels">Email </span><input class="formInputs" type="email" placeholder="Email"
                  ng-model="user.email" ng-disabled="editVar"></input><br />
                <span class="formLabels">Password </span><input class="formInputs" type="password" placeholder="Password"
                  ng-model="user.password" ng-disabled="editVar"></input><br /><br/>
                  <a href="" ng-click="editAccount()"><img
          src="public/img/icon/edit.png"></img> EDIT MY ACCOUNT</a><a href="" ng-click="deleteAccount()"><img
          src="public/img/icon/delete.png"></img> DELETE MY ACCOUNT</a>
              </div>
            </div>
            <!-- Dialog action bar -->
            <div class="dialogActionBar">
              <!-- Buttons -->
              <a class="buttonTouchTarget" id="buttonOneTouchTarget" href=""
                ng-click="cancelMyAccount()">
                <div class="buttonFlat" id="cancelMyAccount" fit>CANCEL</div>
              </a>
              <!-- This comment removes 4px gap between buttons-->
              <a class="buttonTouchTarget" id="buttonTwoTouchTarget" href=""
                ng-click="submitMyAccountChanges()">
                <div class="buttonFlat buttonCustom" id="submitMyAccount">SUBMIT</div>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>


    <!-- ADD AN ARTICLE DIALOG -->
    <div id="addAnArticleForm" ng-show="newArticle" class="wrapperOutside wrapperInsideArticle">
      <div class="wrapperInside wrapperInsideArticle">
        <!-- Dialog -->
      <form novalidate class="simple-form">
        <div class="dialogContainer widthArticle">
          <!-- Dialog title and body -->
          <div class="dialogContent article">
            <span class="formLabels dialogContentBody">Title... </span><input type="text" ng-model="newArticleByUser.title" placeholder="Title..." class="dialogContentTitle" required></input>
            <div class="dialogContentBody">
              <span class="formLabels">Write your article... </span><br/><textarea ng-model="newArticleByUser.body" placeholder="Write your article..." type="text" class="inputNewArticle" required></textarea>
              <img src="public/img/peng.jpg" class="imgArticle"></img>
            </div>
          </div>
          <!-- Dialog action bar -->
          <div class="dialogActionBar">
            <!-- Buttons -->
              <a class="buttonTouchTarget" id="buttonOneTouchTarget" href=""
                ng-click="cancelNewArticle()">
                <div class="buttonFlat" id="cancelNewArticle" fit>CANCEL</div>
              </a>

            <a class="buttonTouchTarget" id="buttonTwoTouchTarget" href=""
              ng-click="sendArticle()">
              <div class="buttonFlat buttonCustom" id="sendArticleButton">SEND ARTICLE <img
          src="public/img/icon/telegram.png" class="icon"></div>
              </a>
          </div>
        </div>
      </form>
      </div>
    </div>


    <!-- ARTICLE AND COMMENT -->
    <div id="listArticles" ng-repeat="article in listArticles track by $index">
      <!-- ARTICLE DIALOG -->
      <div id="article{{$index}}" ng-show="showArticle" class="wrapperOutside wrapperInsideArticle">
      <div class="wrapperInside wrapperInsideArticle">
        <!-- Dialog -->
        <div class="dialogContainer widthArticle">
          <!-- Dialog title and body -->
          <div class="dialogContent article">
            <div class="dialogContentTitle"><a class="buttonTouchTarget" href="" ng-click="addFavorite($index)"><img ng-show="userConnected" id="favoriteIcon{{$index}}"
          src="public/img/icon/heart-outline.png" class="icon iconTitle"></a>{{article.title}}</div>
            <div class="dialogContentBody">
              <div id="bodyArticle{{$index}}" ng-model="article[$parent.$index].body" name="bodyArticle{{$index}}">{{article.body}}</div>
              <img src="public/img/peng.jpg" class="imgArticle"></img>
            </div>
          </div>
          <!-- Dialog action bar -->
          <div class="dialogActionBar">
            <!-- Buttons -->
            <div class="buttonFlat" fit>{{article.author}} - {{article.date}}</div>
             <a class="buttonTouchTarget" id="buttonTwoTouchTarget" href=""
              ng-click="getCommentsByArticle($index)">
              <div class="buttonFlat buttonCustom" id="showCommentButton"><img
          src="public/img/icon/comment-text-outline(1).png" class="icon">SHOW COMMENTS</div>
              </a>
            <a class="buttonTouchTarget" id="buttonTwoTouchTarget" href=""
              ng-click="openCommentForm($index)">
              <div ng-show="userConnected" class="buttonFlat buttonCustom" id="addCommentButton"><img
          src="public/img/icon/comment-plus-outline.png" class="icon">ADD
                A COMMENT</div>
              </a>
          </div>
        </div>
      </div>
      </div>

      <!-- DISPLAY COMMENT-->
      <div id="commentDialog" class="wrapperOutside" ng-repeat="comment in listComments track by $index">
      <div class="wrapperInside">
      <!-- Dialog -->
        <div class="dialogContainer widthComment">
        <!-- Dialog title and body -->
          <div class="dialogContent">
            <div class="dialogContentBody">
              <label id="idComment{{$index}}"># {{comment.id}}</label><a href="" ng-click="deleteComment()"><img
          src="public/img/icon/delete.png" class="iconMyAccount"></img></a><br/>
              <label class="inputComment">{{comment.body}}</label>
            </div>
        </div>
        <!-- Dialog action bar -->
        <div class="dialogActionBar">
          <div class="buttonFlat" id="authorComment{{$index}}" fit>{{comment.author}} - {{comment.date_creation}}</div>
        </div>
      </div>
      </div>
    </div>


      <!-- ADD A COMMENT DIALOG -->
    <div id="addComment{{$index}}" class="wrapperOutside displayComment">
      <div class="wrapperInside">
      <!-- Dialog -->
        <div class="dialogContainer widthComment">
        <!-- Dialog title and body -->
          <div class="dialogContent">
            <div class="dialogContentTitle">Add comment...</div>
            <div class="dialogContentBody">
              <input class="inputComment" type="text" placeholder="Add your comment here..."
                 id="bodyComment" ng-model="comment.body"></input>
            </div>
        </div>
        <!-- Dialog action bar -->
        <div class="dialogActionBar">
        <!-- Buttons -->
          <a class="buttonTouchTarget" id="buttonOneTouchTarget" href=""
            ng-click="cancelComment($index)">
            <div class="buttonFlat" id="cancelComment" fit>CANCEL</div>
          </a> 
          <a class="buttonTouchTarget" id="buttonTwoTouchTarget" href=""
            ng-click="submitCommentForm($index)">
            <div class="buttonFlat buttonCustom" id="sendComment">SEND
              <img src="public/img/icon/telegram.png" class="icon">
            </div>
          </a>
        </div>
      </div>
      </div>
    </div>
  
  </div>

  <!-- FOOTER -->
  <div id="footer" class="headerFooter footer">&copy; Marie DAGNIAU - Est&egrave;phe SUSTRAC</div>
  </main>
  </div>
</body>
<script src="public/js/app.js"></script>
<script src="public/js/controllers/articleCtrl.js"></script>
<script src="public/js/controllers/blogCtrl.js"></script>
</html>