<!DOCTYPE html>
<html ng-app="helloApp">
  <head>
  </head>
  <body>
    <h1>Introduction à AngularJS</h1>

    <div ng-controller="helloCtrl">
      <label>Nom :</label>
      <input type="text" ng-model="name">
      <br />
      <h2>Hello {{ name }}!</h2>
    </div>


    <div ng-controller="peopleCtrl">
      <label>Afficher les personnes ?</label>
      <input type="checkbox" ng-model="showPeople">
      <ul ng-show="showPeople">
        <li ng-repeat="person in people">
          {{ person.firstname }} {{ person.lastname }}
        </li>
      </ul>
      <p ng-hide="showPeople">Il n'y a personne de visible.</p>
    </div>
  <script src="js/app.js"></script>
  <script src="js/librairies/angular.min.js"></script>
  <script src="js/librairies/jquery.min.js"></script>
  <script src="js/librairies/material.min.js"></script>
  <!--script src="js/services.js"></script>
  <script src="js/controllers.js"></script-->
</body>
</html>