<!DOCTYPE html>
<html ng-app="blog">
<head>
<link rel="icon" type="image/png" href="public/img/logo.png" />
<link rel="stylesheet" type="text/css" href="public/css/style.css">
<link rel="stylesheet" type="text/css"
  href="public/css/material.min.css">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script type="text/javascript"
  src="public/js/librairies/jquery-ui.min.js"></script>
<script type="text/javascript" src="public/js/librairies/angular.min.js"></script>
<script type="text/javascript"
  src="public/js/librairies/material.min.js"></script>
</head>
<body>
  <div class="demo-layout-transparent mdl-layout mdl-js-layout"
    ng-controller="blogCtrl">
    <header class="mdl-layout__header mdl-layout__header--transparent">
      <div class="mdl-layout__header-row">
        <!-- Title-->
        <h3 class="mdl-layout-title">Pengu Blog !</h3>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link nav" href="" ng-click="login()"><img
            src="public/img/icon/account.png">Log in</a> <a
            class="mdl-navigation__link nav" href="" ng-click="signup()"><img
            src="public/img/icon/account-plus.png">Sign up</a>
        </nav>
    </header>

    <div class="mdl-layout__drawer">
      <h6 id="userPseudo" class="mdl-layout-title pseudo"
        ng-model="user.pseudo">
        Pengu name <img src="public/img/logo.png" class="iconPseudo"></img>
      </h6>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href=""><img
          src="public/img/icon/account-star-variant.png" class="icon"></img>My
          account</a> <a class="mdl-navigation__link" href=""><img
          src="public/img/icon/comment-text-outline.png" class="icon">Add
          an article</a>  <a class="mdl-navigation__link" href=""><img
          src="public/img/icon/settings.png" class="icon">Manage my publications</a><a class="mdl-navigation__link" href=""><img
          src="public/img/icon/calendar.png" class="icon">Year {{year}}</a>
        <a class="mdl-navigation__link list" href=""><img
          src="public/img/icon/chevron-right.png" class="icon">Month
          {{month}}</a>
      </nav>
    </div>

    <main class="mdl-layout__content">
    <h1>The best blog about Pengu !</h1>
    <div id="loginDialog" ng-show="showLogin" class="wrapperOutside"
      ng-controller="loginCtrl">
      <div class="wrapperInside">
        <!-- Dialog -->
        <form novalidate class="simple-form">
          <div class="dialogContainer">
            <!-- Dialog title and body -->
            <div class="dialogContent">
              <div class="dialogContentTitle">Log in</div>
              <div class="dialogContentBody">
                <input type="text" placeholder="Pseudo" ng-model="user.pseudo"></input><br />
                <input type="password" placeholder="Password"
                  ng-model="user.password"></input>
              </div>
            </div>
            <!-- Dialog action bar -->
            <div class="dialogActionBar">
              <!-- Buttons -->
              <a class="buttonTouchTarget" id="buttonOneTouchTarget"
                ng-click="cancelLogin()">
                <div class="buttonFlat" id="cancelLogin" fit>CANCEL</div>
              </a>
              <!-- This comment removes 4px gap between buttons-->
              <a class="buttonTouchTarget" id="buttonTwoTouchTarget"
                ng-click="submitLoginForm(user)">
                <div class="buttonFlat buttonCustom" id="submitLoginForm">SUBMIT</div>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="signupDialog" ng-show="showSignup" class="wrapperOutside"
      ng-controller="signupCtrl">
      <div class="wrapperInside">
        <!-- Dialog -->
        <form novalidate class="simple-form">
          <div class="dialogContainer">
            <!-- Dialog title and body -->
            <div class="dialogContent">
              <div class="dialogContentTitle">Sign up</div>
              <div class="dialogContentBody">
                <input class="formInputs" type="text" placeholder="Pseudo"
                  ng-model="newUser.pseudo"></input> <br />
                <input class="formInputs" type="text" placeholder="Lastname"
                  ng-model="newUser.lastname"></input><br /> <input
                  class="formInputs" type="text" placeholder="Firstname"
                  ng-model="newUser.firstname"></input> <br />
                <input class="formInputs" type="email" placeholder="Email"
                  ng-model="newUser.email"></input> <br />
                <input class="formInputs" type="password" placeholder="Password"
                  ng-model="newUser.password"></input><br /> <input
                  class="formInputs" type="password"
                  placeholder="Confirm password"
                  ng-model="newUser.confirmPassword"></input>
              </div>
            </div>
            <!-- Dialog action bar -->
            <div class="dialogActionBar">
              <!-- Buttons -->
              <a class="buttonTouchTarget" id="buttonOneTouchTarget"
                ng-click="cancelSignup()">
                <div class="buttonFlat" id="cancelSignup" fit>CANCEL</div>
              </a>
              <!-- This comment removes 4px gap between buttons-->
              <a class="buttonTouchTarget" id="buttonTwoTouchTarget"
                ng-click="submitLoginForm(newUser)">
                <div class="buttonFlat buttonCustom" id="submitSignupForm">SUBMIT</div>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="lastArticle" ng-show="true" class="wrapperOutside"
      ng-controller="commentCtrl">
      <div class="wrapperInside wrapperInsideArticle">
        <!-- Dialog -->
        <div class="dialogContainer widthArticle">
          <!-- Dialog title and body -->
          <div class="dialogContent article">
            <div class="dialogContentTitle" id="titleArticle"><img
          src="public/img/icon/heart-outline.png" class="icon iconTitle"> Title</div>
            <div class="dialogContentBody">
              <div id="bodyArticle">Body Article</div>
              <img src="public/img/peng.jpg" class="imgArticle"></img>
            </div>
          </div>
          <!-- Dialog action bar -->
          <div class="dialogActionBar">
            <!-- Buttons -->
            <div class="buttonFlat" id="infosArticle" fit>AUTHOR - DATE
              - ...</div>
            <a class="buttonTouchTarget" id="buttonTwoTouchTarget"
              ng-click="openCommentForm()">
              <div class="buttonFlat buttonCustom" id="addCommentButton"><img
          src="public/img/icon/comment-plus-outline.png" class="icon">ADD
                A COMMENT</div>
              </a>
          </div>
        </div>
      </div>
    </div>
    <div id="addComment" ng-show="commentOn" class="wrapperOutside">
                <div class="wrapperInside">
                  <!-- Dialog -->
                  <div class="dialogContainer widthComment">
                    <!-- Dialog title and body -->
                    <div class="dialogContent">
                      <div class="dialogContentBody">
                        <input class="inputComment" type="text" placeholder="Add your comment here..." ng-model="bodyComment"
                          id="bodyComment"></input>
                      </div>
                    </div>
                    <!-- Dialog action bar -->
                    <div class="dialogActionBar">
                      <!-- Buttons -->
                      <a class="buttonTouchTarget" id="buttonOneTouchTarget"
                        ng-click="cancelComment()">
                        <div class="buttonFlat" id="cancelComment" fit>CANCEL</div>
                      </a> <a class="buttonTouchTarget" id="buttonTwoTouchTarget"
                        ng-click="sendComment(bodycomment)">
                        <div class="buttonFlat buttonCustom" id="sendComment">SEND <img
          src="public/img/icon/telegram.png" class="icon"></div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>


  
    <div id="footer">Marie DAGNIAU - Est^èphe SUSTRAC</div>
    </main>
  </div>
</body>
<script src="public/js/app.js"></script>
</html>